{% extends 'base.html' %}
{% load static %}

{% block title %}
Cadastro - Agenda Fácil
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}?v=8">
{% endblock %}

{% block content %}

<div class="container-login">
    <section class="caixa-login">
        <h1>Criar conta</h1>
        <p>Cadastre-se para continuar seu agendamento.</p>

        <form method="POST">
            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit">Criar conta</button>
        </form>

        <p class="texto-cadastro">
            Já tem uma conta?
            <a href="/login/">Fazer login</a>
        </p>

        <a class="voltar" href="/">Voltar para a página inicial</a>
    </section>
</div>

{% endblock %}