{% extends 'base.html' %}
{% load static %}

{% block title %}
Login - {{ configuracao_site.nome_site }}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}?v=17">
{% endblock %}

{% block content %}

<div class="container-login">
    <section class="caixa-login">
        <h1>Login</h1>
        <p>Acesse sua conta para continuar seu agendamento.</p>

        <form method="POST">
            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit">Entrar</button>
        </form>

        <p class="texto-cadastro">
            Ainda não tem conta?
            <a href="/cadastro/">Criar conta</a>
        </p>

        <a class="voltar" href="/">Voltar para a página inicial</a>
    </section>
</div>

{% endblock %}
