{% extends 'base.html' %}
{% load static %}

{% block title %}
Pagamento - {{ configuracao_site.nome_site }}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}?v=17">
{% endblock %}

{% block content %}

<div class="container-login">
    <section class="caixa-login caixa-pagamento">
        <h1>Resumo do pedido</h1>
        <p>Confira as informações antes de confirmar o agendamento.</p>

        <div class="resumo-pedido">
            <p><strong>Usuário:</strong> {{ user.username }}</p>
            <p><strong>Serviço escolhido:</strong> {{ pedido.servico_nome }}</p>
            <p><strong>Endereço:</strong> {{ pedido.endereco }}</p>
            <p><strong>Data escolhida:</strong> {{ pedido.data_servico }}</p>
            <p><strong>Horário escolhido:</strong> {{ pedido.horario_servico }}</p>
        </div>

        <form method="POST" action="/confirmar-pedido/">
            {% csrf_token %}

            <button type="submit">
                Confirmar pedido
            </button>
        </form>

        <a class="voltar" href="/">Voltar para a página inicial</a>
    </section>
</div>

{% endblock %}
